@charset "utf-8";

@font-face {
  font-family: 'Righteous';
  src: local('Righteous'),
  url('font/Righteous.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Secular-One';
  src: local('Secular One'), local('Secular-One'),
  url('font/Secular-One.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'New-Old-English';
  src: local('New Old English'), local('New-Old-English'),
  url('font/New-Old-English.ttf') format('truetype');
  font-display: swap;
}


//-------------------------------------------------------------------------
//*                          --- DEATH CARD ---
//--------------------------------------------------------------------

body {
  font-family: 'New-Old-English';
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  overflow: hidden;
  &.active {
    background-color: #000;
  }
}

.btnEnter {
  font-family: 'New-Old-English';
  position: absolute;
  font-size: 2em;
  color: #ff0000;
  background-color: rgba(255,255,255,0.6);
  border-radius: 15px;
  padding: 7px 13px 2px;
  transform: scale(1.25);
  z-index: 10000;
  transition: transform .5s;
  &:active {
    color: #000;
    background-color: rgba(255,255,255,0.1);
  }
  &.inactive {
    transform: scale(0);
  }
}

.splash-screen {
  position: absolute;
  inset: 10px; 
  margin: auto; 
  background: linear-gradient(35deg,
    #000,#fff 20%,#dfdfdf 70%,#000 100%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  mix-blend-mode: difference;
  filter: contrast(1) invert(.1);
  transition: opacity 2s;
  overflow: hidden;
  --destinationY: 120%;
  &.menubarHidden {
    inset: 0px; 
    height: 90%; 
    margin: 25px auto;
  }
  @media (orientation: landscape) {
    --destinationY: 200%;
    &.menubarHidden {
      margin: 15px auto;
    }
  }
  &.transfigure {
    filter: initial;
    mix-blend-mode: initial;
    background: linear-gradient(55deg,
      #024523, #fff, #024523);
    box-shadow: 0 0 0 20px #000;
  }
  &.inactive {
    opacity: 0;
    animation: hideSplashScreen 1.5s forwards;
  }
  .deathCard {
    position: absolute;
    background-image: url('img/deathCard.svg');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 95%;
    @media (orientation: landscape) {
      background-repeat: repeat-x;
    }
    &::before {
      content: '';
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url('img/deathCard.svg');
      background-repeat: no-repeat; 
      background-position: center;
      background-size: contain; 
      mix-blend-mode: multiply;
      left: -3px;
      @media (orientation: landscape) {
        background-repeat: repeat-x;
        left: -1px;
      }
    }
  }
  canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    filter: blur(20px) contrast(40);
    pointer-events: none;
    opacity: .8;
    z-index: 2000;
    &.activate {
      background-color: #000;
    }
  }
}

@keyframes hideSplashScreen {
  to {
    transform: translate(80px, var(--destinationY)) rotate(-15deg);
  }
}

//* --------------------------------------------------------

.game-message {
  font-family: 'New-Old-English';
  position: absolute;
  z-index: 1;
  font-size: 3.25rem; 
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-text-stroke: 6px #fff;
  paint-order: stroke;
  visibility: hidden;
  &.game-clear {
    color: #007bff;
  }
  &.game-over {
    color: #f00;
  }
  &.visible {
    visibility: visible;
  }
}

.start-btn {
  font-family: 'New-Old-English';
  position: absolute;
  z-index: 1;
  font-size: 1.4rem; 
  font-weight: bold;
  letter-spacing: 1px;
  color: #000;
  background-color: #fff;
  border-radius: 18px;
  padding: 10px 10px 6px;
  margin-top: 10px; 
  opacity: 0.5;
  visibility: hidden;
  display: none; //*
  &.activate {
    display: block;
  }
  &.active {
    margin-top: 100px; 
  }
  &.visible {
    visibility: visible;
  }
}

// ------------------------------------

.gauges-container {
  position: absolute;
  top: 0px;
  width: 90%;
  display: flex;
  justify-content: center;
  pointer-events: none;
  display: none; //*
  &.activate {
    display: flex;
  }
  @media (max-width: 710px) {
    top: 5px;
  }
  @media (min-width:710px), (min-height:710px) {
    top: 9px;
  }
  @media (hover: none) and (pointer: coarse) {
    top: 0px; //* this scope is mobile device
  }
  @media (min-width:765px) {
    top: 50px;
  }
  @media (min-width:810px) { 
    top: 9px;
  }
  @media (min-width:1020px) {
    top: 60px;
  }
  @media (min-width:1360px) {
    top: 90px;
  }
  @media (min-height:1360px) {
    top: 90px;
    width: 80%;
  }
  @media (min-width:1370px) {
    top: 30px;
    width: 600px;
  } 
  .unMatched-circle-wrapper {
    width:60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (min-width:730px){
      width:40%;
    }
    @media (min-width:765px){
      width:35%; 
    }
  }
  .gauges-space {
    width: 10%;
  }
  .deathCount-circle-wrapper {
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (min-width:730px){
      width: 15%;
    }
    @media (min-width:810px){
      width: 13%; 
    }
  }
  .gauge-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    opacity: .1;
    &.hidden {  
      visibility: hidden;
    }
    &.activeCircle {
      background-color: #f00;
      opacity: 1;
    }
  }
}

//----------------------------------------------

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: none; //*
  @media (hover: none) and (pointer: coarse) { 
    margin-top: 5px;
  }
  &.activate {
    display: flex;
  }
  .card-unit { 
    width: 95%; 
    height: 95%; 
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px; // for gauges 
    -webkit-perspective: 1000px;
    perspective: 1000px;  
    @media (min-width:416px){
      height: 90%; 
    }
    @media (min-width:765px){
      width: 60%;
      height: 80%;
      margin-top: 0px;
    }
    @media (min-width:810px){
      width: 95%;
      height: 90%;
      margin-top: 10px;
    }
    @media (min-width:1020px){
      width: 90%;
      height: 65%;
    }
    @media (min-height:1360px){
      width: 55%;
      height: 75%;
    }
    @media (min-width:1370px){
      width: 600px;
      height: 90%;
    }
    .card { 
      position: relative;
      width: calc(25% - 6px); //*>
      height: calc(25% - 6px); //*> margin x2
      margin: 3px; //*> calc to decrease margin
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      transition: transform .3s ease-in-out;
      &:active {
        transform: scale(.9);
      }
      &.flip {
        transform: rotateY(180deg) rotateX(50deg); 
      }
      @media (min-width:416px){
        width: calc(12.5% - 6px);
        height: calc(50% - 6px);
        margin: 3px
      }
      @media (min-width:765px){
        width: calc(25% - 10px);
        height: calc(25% - 10px);
        margin: 5px;
      }
      @media (min-width:810px){
        width: calc(12.5% - 6px);
        height: calc(50% - 6px);
        margin: 3px;
      }
      @media (min-height:1360px){
        width: calc(25% - 6px);
        height: calc(25% - 6px);
        margin: 3px;
      }
      @media (min-width:1370px){
        width: calc(25% - 6px);
        height: calc(25% - 6px);
        margin: 3px;
      }
      .front-face,
      .back-face { 
        width: 100%;
        height: 100%;
        padding: 3px; 
        position: absolute;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        object-fit:cover;
        @media (min-width:765px){
          padding: 5px;
        }
        @media (min-width:810px){
          padding: 3px;
        }
        @media (min-width:1020px){
          padding: 5px;
        }
      }
      .angel {
        background: linear-gradient(rgb(252, 254, 152), rgb(252, 254, 152), #fff);
      }
      .death {
        background: radial-gradient( #fff 70%,rgb(6, 73, 27));
      }
      .red {
        background-color: #f00;
      }
      .black {
        background-color: #2d2b2b;
      }
      .front-face {
        padding: 3px; 
        transform: rotateY(180deg) rotateX(50deg); 
        @media (min-width:765px){
          padding: 5px;
        }
        @media (min-width:810px){
          padding: 3px;
        }
      }
      // .large {
      //   object-fit: cover;
      //   @media (min-width:416px){
      //     object-fit: initial;
      //   }
      // }
      // .small {
      //   @media (min-width:765px){
      //     object-fit: initial;
      //   }
      //   @media (min-width:1020px){
      //     object-fit: cover;
      //   }
      //   @media (min-width:1370px){
      //     object-fit: initial;
      //   }
      //   @media (min-height:1360px){
      //     object-fit: initial;
      //   }
      // }
    }
  }
}





//--------------------------------------------------------------------
//-------------------------------------------------------------------------

















