@font-face {
  font-family: "Righteous";
  src: local("Righteous"), url("font/Righteous.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Secular-One";
  src: local("Secular One"), local("Secular-One"), url("font/Secular-One.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "New-Old-English";
  src: local("New Old English"), local("New-Old-English"), url("font/New-Old-English.ttf") format("truetype");
  font-display: swap;
}
body {
  font-family: "New-Old-English";
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #353535;
  overflow: hidden;
}
body.active {
  background-color: #000;
}

.btnEnter {
  font-family: "New-Old-English";
  position: absolute;
  font-size: 2em;
  color: #ff0000;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 7px 13px 2px;
  transform: scale(1.25);
  z-index: 10000;
  transition: transform 0.5s;
  visibility: hidden;
}
.btnEnter.visible {
  visibility: visible;
}
.btnEnter:active {
  color: #000;
  background-color: rgba(255, 255, 255, 0.1);
}
.btnEnter.inactive {
  transform: scale(0);
}

.splash-screen {
  position: absolute;
  inset: 10px;
  margin: auto;
  background: linear-gradient(35deg, #000, #fff 20%, #dfdfdf 70%, #000 100%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  mix-blend-mode: difference;
  filter: contrast(1) invert(0.1);
  transition: opacity 2s;
  overflow: hidden;
  --destinationY: 120%;
}
.splash-screen.menubarHidden {
  inset: 0px;
  height: 90%;
  margin: 25px auto;
}
@media (orientation: landscape) {
  .splash-screen {
    --destinationY: 200%;
  }
  .splash-screen.menubarHidden {
    margin: 15px auto;
  }
}
.splash-screen.transfigure {
  filter: initial;
  mix-blend-mode: initial;
  background: linear-gradient(55deg, #024523, #fff, #024523);
  box-shadow: 0 0 0 20px #000;
}
.splash-screen.inactive {
  opacity: 0;
  animation: hideSplashScreen 1.5s forwards;
}
.splash-screen .deathCard {
  position: absolute;
  background-image: url("img/deathCard.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 95%;
}
@media (orientation: landscape) {
  .splash-screen .deathCard {
    background-repeat: repeat-x;
  }
}
.splash-screen .deathCard::before {
  content: "";
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("img/deathCard.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  mix-blend-mode: multiply;
  left: -3px;
}
@media (orientation: landscape) {
  .splash-screen .deathCard::before {
    background-repeat: repeat-x;
    left: -1px;
  }
}
.splash-screen canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  filter: blur(20px) contrast(40);
  pointer-events: none;
  z-index: 2000;
}
@media (hover: hover) {
  .splash-screen canvas {
    opacity: 0.8;
  }
}
@media (hover: none) and (pointer: coarse) {
  .splash-screen canvas {
    opacity: 0.4;
  }
}
.splash-screen canvas.activate {
  background-color: #000;
}

@keyframes hideSplashScreen {
  to {
    transform: translate(80px, var(--destinationY)) rotate(-15deg);
  }
}
.game-message {
  font-family: "New-Old-English";
  position: absolute;
  z-index: 1;
  font-size: 3.25rem;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-text-stroke: 6px #fff;
  paint-order: stroke;
  visibility: hidden;
}
.game-message.game-clear {
  color: #007bff;
}
.game-message.game-over {
  color: #f00;
}
.game-message.visible {
  visibility: visible;
}

.start-btn {
  font-family: "New-Old-English";
  position: absolute;
  z-index: 1;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000;
  background-color: #fff;
  border-radius: 18px;
  padding: 10px 10px 6px;
  margin-top: 10px;
  opacity: 0.5;
  visibility: hidden;
  display: none;
}
.start-btn.activate {
  display: block;
}
.start-btn.active {
  margin-top: 100px;
}
.start-btn.visible {
  visibility: visible;
}

.gauges-container {
  position: absolute;
  top: 0px;
  width: 90%;
  display: flex;
  justify-content: center;
  pointer-events: none;
  display: none;
}
.gauges-container.activate {
  display: flex;
}
@media (max-width: 710px) {
  .gauges-container {
    top: 5px;
  }
}
@media (min-width: 710px), (min-height: 710px) {
  .gauges-container {
    top: 9px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .gauges-container {
    top: 0px;
  }
}
@media (min-width: 765px) {
  .gauges-container {
    top: 50px;
  }
}
@media (min-width: 810px) {
  .gauges-container {
    top: 9px;
  }
}
@media (min-width: 1020px) {
  .gauges-container {
    top: 60px;
  }
}
@media (min-width: 1360px) {
  .gauges-container {
    top: 90px;
  }
}
@media (min-height: 1360px) {
  .gauges-container {
    top: 90px;
    width: 80%;
  }
}
@media (min-width: 1370px) {
  .gauges-container {
    top: 30px;
    width: 600px;
  }
}
.gauges-container .unMatched-circle-wrapper {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 730px) {
  .gauges-container .unMatched-circle-wrapper {
    width: 40%;
  }
}
@media (min-width: 765px) {
  .gauges-container .unMatched-circle-wrapper {
    width: 35%;
  }
}
.gauges-container .gauges-space {
  width: 10%;
}
.gauges-container .deathCount-circle-wrapper {
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 730px) {
  .gauges-container .deathCount-circle-wrapper {
    width: 15%;
  }
}
@media (min-width: 810px) {
  .gauges-container .deathCount-circle-wrapper {
    width: 13%;
  }
}
.gauges-container .gauge-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.1;
}
.gauges-container .gauge-circle.hidden {
  visibility: hidden;
}
.gauges-container .gauge-circle.activeCircle {
  background-color: #f00;
  opacity: 1;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: none;
}
@media (hover: none) and (pointer: coarse) {
  .container {
    margin-top: 5px;
  }
}
.container.activate {
  display: flex;
}
.container .card-unit {
  width: 95%;
  height: 95%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (min-width: 416px) {
  .container .card-unit {
    height: 90%;
  }
}
@media (min-width: 765px) {
  .container .card-unit {
    width: 60%;
    height: 80%;
    margin-top: 0px;
  }
}
@media (min-width: 810px) {
  .container .card-unit {
    width: 95%;
    height: 90%;
    margin-top: 10px;
  }
}
@media (min-width: 1020px) {
  .container .card-unit {
    width: 90%;
    height: 65%;
  }
}
@media (min-height: 1360px) {
  .container .card-unit {
    width: 55%;
    height: 75%;
  }
}
@media (min-width: 1370px) {
  .container .card-unit {
    width: 600px;
    height: 90%;
  }
}
.container .card-unit .card {
  position: relative;
  width: calc(25% - 6px);
  height: calc(25% - 6px);
  margin: 3px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out;
}
.container .card-unit .card:active {
  transform: scale(0.9);
}
.container .card-unit .card.flip {
  transform: rotateY(180deg) rotateX(50deg);
}
@media (min-width: 416px) {
  .container .card-unit .card {
    width: calc(12.5% - 6px);
    height: calc(50% - 6px);
    margin: 3px;
  }
}
@media (min-width: 765px) {
  .container .card-unit .card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
  }
}
@media (min-width: 810px) {
  .container .card-unit .card {
    width: calc(12.5% - 6px);
    height: calc(50% - 6px);
    margin: 3px;
  }
}
@media (min-height: 1360px) {
  .container .card-unit .card {
    width: calc(25% - 6px);
    height: calc(25% - 6px);
    margin: 3px;
  }
}
@media (min-width: 1370px) {
  .container .card-unit .card {
    width: calc(25% - 6px);
    height: calc(25% - 6px);
    margin: 3px;
  }
}
.container .card-unit .card .front-face,
.container .card-unit .card .back-face {
  width: 100%;
  height: 100%;
  padding: 3px;
  position: absolute;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  object-fit: cover;
}
@media (min-width: 765px) {
  .container .card-unit .card .front-face,
  .container .card-unit .card .back-face {
    padding: 5px;
  }
}
@media (min-width: 810px) {
  .container .card-unit .card .front-face,
  .container .card-unit .card .back-face {
    padding: 3px;
  }
}
@media (min-width: 1020px) {
  .container .card-unit .card .front-face,
  .container .card-unit .card .back-face {
    padding: 5px;
  }
}
.container .card-unit .card .angel {
  background: linear-gradient(rgb(252, 254, 152), rgb(252, 254, 152), #fff);
}
.container .card-unit .card .death {
  background: radial-gradient(#fff 70%, rgb(6, 73, 27));
}
.container .card-unit .card .red {
  background-color: #f00;
}
.container .card-unit .card .black {
  background-color: #2d2b2b;
}
.container .card-unit .card .front-face {
  padding: 3px;
  transform: rotateY(180deg) rotateX(50deg);
}
@media (min-width: 765px) {
  .container .card-unit .card .front-face {
    padding: 5px;
  }
}
@media (min-width: 810px) {
  .container .card-unit .card .front-face {
    padding: 3px;
  }
}